* {
    background: black;
}

h1, h2, p {
    color: white;
    text-align: center;
}

.wlp {
    width: 100%;
    max-height: 70vh;
}

.container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: auto;
  }
  
  .item {
    width: calc(33.33% - 10px);
    height: 550px;
    margin: 5px;
    box-sizing: border-box;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  iframe {
    width: 100%;
    height: 600px;
}

a{
    color: white;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #0e0d0d;
  border: 1px solid  #161616;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.info-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  display: grid;
  place-items: center;
  color: white;
}


.card:hover .info-card {
  opacity: 1;
}